*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn.btn-primary{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.divme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}